* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@media (prefers-reduced-motion: no-preferences) {
  .Box {
    animation: fade-in 700ms ease-in-out;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
